@model Music.Models.Playlist

@{
    ViewBag.Title = "Playlist Details";
}
<br />
<h2>Playlist: @Model.Name</h2>

<div>
    <h3>Albums:</h3>
    <ul>
        @foreach (var al in Model.Albums.ToList())
        {
            <li>@al.Title</li>
        }
    </ul>
</div>
<br />
<p>
    <button onclick="location.href='@Url.Action("Index")';return false;" class="btn btn-default">Back to playlists</button>
    <button onclick="location.href='@Url.Action("Index", "Albums")';return false;" class="btn btn-primary">Add more albums</button>
</p>
