@model IEnumerable<Music.Models.Album>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Playlist</h4>
    <hr />
    <ul>
      
        @foreach (var item in ViewBag.al)
        {
           <li>@item.Title by @item.Artist.Name</li>
        }

    </ul>
</div>
<p>
    <button onclick="location.href='@Url.Action("Index")';return false;" class="btn btn-default">Back to playlists</button>
    <button onclick="location.href='@Url.Action("Index", "Albums")';return false;" class="btn btn-default">Add more albums</button>
</p>
